<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxdtyut.miaosha.mapper.UserMapper">
    <select id="getMiaoshaUserByUserId" resultType="com.yxdtyut.miaosha.entity.MiaoshaUser">
        select id,nickname,password,salt,head from miaosha_user where id = #{id}
    </select>
</mapper>